.full{
    display: flex;
      flex-direction: column; 
     /* flex-wrap: wrap;  */
    align-items: center; 
    gap: 20px;
    column-gap: 30px;
    
}
.box1{

    border: 1px solid grey;
}
.box2{
    
    border: 1px solid grey;
}
.box3{
    border: 1px solid grey;
}