*{
    padding: 0;
    margin: 0;
}
header{
    width:100%;
    background-color: rgb(185, 80, 31);
    text-align: center;
    padding:10px;
    position: fixed;
    top:0;
    
}
section{
    margin-top: 60px;   
    width:100%;
    background-color: rgb(204, 214, 214);
}

section h3 {
    background-color: blue;
    padding: 30px;
    position: sticky;
    top: 40px;
}
section h4{
    background-color: yellowgreen;
    padding:30px;
    position: sticky;
    top:120px;
}
.parent{
    background-color: blueviolet;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    margin-bottom: 50px;
    position: relative;
}

.child1{
    background-color:yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    left:0;

}
.child2{
    background-color:green ;
    width:100px;
    height:100px;
    position: absolute;
    top:0;
    right:0;
}
.child3{
    background-color:grey;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom:0;
    left:0;

}
.child4{
    background-color:skyblue ;
    width:100px;
    height:100px;
    position: absolute;
    bottom:0;
    right:0;
}