body{
    background-color: rgb(175, 192, 192);
}
#loginform{
    display: flex;
    margin-top: 20%;
    margin-left: 40%;
    width:50%;
    
}
 #home{
    display: none;
} 
#register{
    display: none;
}