*{
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    background-color: rgb(166, 121, 211);

}
.logo{
    width:0%;
    display: inline-block;
    

}
.campanyname{
    display: inline-block;
    vertical-align:top;
    margin-left: 1112px;
    margin-top: 32px;
    
}
.section{
    width: 100%;
}
.section1{
    width: 100%;
}
.img{
    display: inline-block;
    width:40%;
    margin: 5% 7% 0px 10%;

}
.name{
    display:inline-block;
    vertical-align: top;
    width:38%;
    background-color: rgb(166, 121, 211);
    margin-top: 75px;
    margin-right: 60px;
    

}
.name h1{
    font-size: 50px;
    color:solid violet;
}
.name p{
    margin-top:20px ;
    margin-bottom: 10x;
}
.name button{
    color: brown;
    width:25%;
    margin-left: 35%;
    border-radius: 12px;
    background-color: rgb(166, 121, 211);
}
.section2{
    /* width: 100px; */
    vertical-align: top;
}
.stacks{
    width:100%;
    height: 20%;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(166, 121, 211);
}
.section3{
    width: 100%;
}
.photos{
    margin margin-top: 50px;
    
    
}
.photos img{
    width: 100px;
    margin: 0px 100px;
}

.photos-web img{
    width: 100px;
    margin:0px 100px;
}
footer{
    padding: 0px 20px;
    background-color: rgb(166, 121, 211);

}
.foot-left{


display: inline-block;
width: 20%;
}
.foot-right{
display: inline-block;
width: 78%;
height: 15%;
text-align: right;
vertical-align: top;
}